## Files related to minetest development cycle
/*.patch
# GNU Patch reject file
*.rej

## Editors and Development environments
*~
*.swp
*.bak*
*.orig
# Vim
*.vim
# Kate
.*.kate-swp
.swp.*
# Eclipse (LDT)
.project
.settings/
.buildpath
.metadata
# GNU Global
tags
!tags/
gtags.files
.idea/*

## Custom minetest.conf
minetest.conf
