# This file contains settings of minetest_game that can be changed in
# minetest.conf
#
# By default, all the settings are commented and not functional.
# Uncomment settings by removing the preceding #.

# Whether creative mode (fast digging of all blocks, unlimited resources) should be enabled
#creative_mode = false

# The time in seconds after which the bones of a dead player can be looted by everyone
# 0 to disable
#share_bones_time = 1200

# Whether fire should be disabled (all fire nodes will instantly disappear)
#disable_fire = false

# Whether steel tools, torches and cobblestone should be given to new players
#give_initial_stuff = false

# Whether the TNT mod should be enabled
#enable_tnt = <true in singleplayer, false in multiplayer>

# The radius of a TNT explosion
#tnt_radius = 3
